/* VALIDAÇÃO DE RESULTADOS */
.valido, .invalido {
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    text-transform: uppercase;
}

.invalido {
    background-color: rgb(255, 191, 191);
    color: rgb(116, 0, 0);
}

.valido {
    background-color: rgb(191, 255, 216);
    color: rgb(0, 116, 25);
}